.footerWrapper > div {
    display: flex;
    justify-content: flex-end;
    height: 30px;
    padding-right: 50px;
}
.footerButton {
    min-width: 70px;
}
.disabled {
    opacity: 0.3;
    cursor: not-allowed;
}
.info {
    min-width: 240px;
    text-align: center;
    line-height: 30px;
}